.head {
    background-color: #404040;
    color: #ffffff;
    font-weight: bold;
}

.row {
    background-color: #eeeeee;
}

.r1 {
    font-weight: bold;
}

table {
    width: 100%;
}

td {
    text-align: center;
    padding: 10px;
}

.view {
    background-color: #03a9f4;
    color: #ffffff;
    padding: 5px 10px;
}

.delete {
    background-color: #e91e63;
    color: #ffffff;
    padding: 5px 10px;
}